@import "../../styles/variables";

.navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: $borderRadius*2 $borderRadius*2 0 0;
	border-bottom: 1px solid $borderColor;

	> .navigationHeadline {
		display: block;
		font-size: 26px;
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	> .navigationMenu {
		display: flex;
		align-items: center;
		margin-left: auto;
		white-space: nowrap;
	}
}

@include media-breakpoint-up(sm) {
	.navigation {
		> .navigationHeadline {
			font-size: 32px;
		}
	}
}
