$columnsPerRowLg: 4;
$columnsPerRowMd: 2;
$columnsPerRowS: 1;

.gallery {
	display: grid;
	grid-template-columns: repeat($columnsPerRowLg, 1fr);
	grid-gap: 20px;
	padding: 20px;
	border: solid #2d2d2d;
	border-width: 0 2px 0 2px;

	.searchBarWrapper {
		grid-column: span $columnsPerRowLg;
		display: flex;

		.searchBar {
			flex-grow: 1;
			display: block;
			padding: 10px;
			border: 2px solid #2d2d2d;
			border-right: none;
		}
	}
}

@media (max-width: 800px) {
	.gallery {
		grid-template-columns: repeat($columnsPerRowMd, 1fr);

		.searchBarWrapper {
			grid-column: span $columnsPerRowMd;
		}
	}
}

@media (max-width: 500px) {
	.gallery {
		grid-template-columns: repeat($columnsPerRowS, 1fr);

		.searchBarWrapper {
			grid-column: span $columnsPerRowS;
		}
	}
}

